body {
	width: 39em;
	margin: 0 auto;
	font-family: Verdana, STXihei, Microsoft YaHei, SimSun, PMingLiU;
	font-size: 90%;
}

a:link {
	color: #666666;
	text-decoration: none;
}

a:visited {
	color: #666666;
	text-decoration: none;
}

a:hover {
	color: #000000;
	text-decoration: underline;
}

a:active {
	color: #000000;
	text-decoration: underline;
}

.screen-shot img {
	max-width: 520px;
}

html {
    overflow-y:scroll;
}

#headSpace {
	height: 6px;
}

