<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <defaultDocument>
            <files>
                <add value="clipboard.php" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
